.title {
	font-size: 26px;
	font-weight: 900;
	h1 {
		font-weight: 600;
		font-size: 50px;
	}
	p {
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}
.text {
	font-size: 26px;
	margin-top: 50px;
	& > p:first-child {
		font-weight: 900;
		text-wrap: pretty;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	& > p:not(:first-child) {
		font-weight: 600;
		font-size: 40px;
	}
}
.createdAt {
	margin-top: 50px;
	font-size: 30px;
	p {
		text-wrap: pretty;
		text-transform: uppercase;
		font-weight: 600;
	}
	span {
		font-weight: 900;
		text-transform: none;
	}
}
.buttons {
	margin-top: 50px;
	display: flex;
	align-items: center;
	gap: 10px;
	a {
		display: block;
		padding: 8.4px 10px;
	}
	button {
		display: block;
		padding: 5px 10px;
	}
}
