.title {
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 15px;
}
.paginationWrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.filterSortBtn {
	padding: 5px 10px;
	font-size: 16px;
	margin-bottom: 15px;
}
