@import '../../../assets/styles/variables.scss';

.button {
	&:disabled,
	&[disabled] {
		opacity: 0.75;
	}
	display: inline-block;
	cursor: pointer;
	padding: 7.6px 10px;
	border-radius: $border-radius;
	font-size: 18px;
	font-weight: 700;
	transition: $transition;
}
