.button {
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}

.red {
	background-color: #dc3545;
}

.blue {
	background-color: #007bff;
}

.green {
	background-color: #28a745;
}
