@import '../../assets/styles/variables.scss';

.notesWrapper {
	margin: 0 auto;
	width: 100%;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: left;
}

.emptyList {
	div {
		padding: 10px 0;
	}
	a {
		font-weight: 900;
		transition: $transition;
		color: $primary-color;
		&:hover {
			color: $primary-color-hover;
		}
	}
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
