@import './variables.scss';

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
a {
	color: inherit;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
textarea,
button {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}
.wrapper.light-theme {
	background-color: $white-color;
	color: $dark-color;
	min-height: 100vh;
	min-width: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.wrapper.dark-theme {
	background-color: $dark-color;
	color: $white-color;
	min-height: 100vh;
	min-width: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

main.main {
	margin-top: 64px;
	padding: 25px 0;
	flex: 1 1 auto;
}
